@use '../../var/var.scss';

.ticket {
    &__info {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 5px;
    }

    &__thead {
        color: #A0B0B9;
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    &__tdeck {
        font-size: 12px;

    }

}

@media(min-width: 650px) {
    .ticket {
        &__info {
            margin-bottom: 10px;
        }

        &__thead {
            font-size: 12px;
        }

        &__tdeck {
            font-size: 14px;
        }
    }
}